# Build019.7 - KataGo Analysis Engine configuration

logDir =

numAnalysisThreads = 1

numSearchThreadsPerAnalysisThread = 1

numNNServerThreadsPerModel = 1

nnMaxBatchSize = 1

nnCacheSizePowerOfTwo = 16

maxVisits = 30

maxPlayouts = 30

maxTime = 10.0

reportAnalysisWinratesAs = BLACK

analysisPVLen = 8

rules = tromp-taylor

komi = 7.5

ponderingEnabled = false

lagBuffer = 0.0
